{% extends 'base/admin/base.html' %}

{% block header %}
<div class="border-b border-gray-200 py-4 px-4 sm:flex sm:items-center sm:justify-between">
    <h3 class="text-lg font-medium leading-6 text-dark-grey mr-16">دسته‌بندی‌ها</h3>
    <div class="mt-3 sm:mt-0 sm:ml-4">
        <button type="button" onclick="window.location.href='{{ url_for('admin_bp.category_add_view') }}';"  class="inline-flex items-center rounded-md border w-30 border-transparent bg-midnight px-4 py-2 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">ایجاد دسته‌بندی</button>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overflow-hidden bg-white shadow sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-200">
        {% for category in categories %}
        <li>
            <a href="{{ url_for('admin_bp.category_edit_view', id=category.id) }}" class="block hover:bg-light-pale-mint-grey">
                <div class="flex items-center px-4 py-4 sm:px-6">
                    <div class="flex min-w-0 flex-1 items-center">
                        <div class="flex-shrink-0">
                            <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class=" w-6 h-6 ml-2 text-midnight flex-shrink-0">
                                {{ category.icon|safe }}
                              </svg>
                        </div>
                        <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                            <div>
                                <p class="truncate text-sm font-medium text-midnight">{{ category.name }}</p>
                                <p class="mt-2 flex items-center text-sm text-mid-grey">{{ category.description }}</p>
                            </div>
                            <div class="hidden md:block">
                                <div>
                                    <p class="text-sm text-dark-grey">
                                    </p>
                                    <p class="mt-2 flex text-sm text-dark-grey">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- Heroicon name: mini/chevron-right -->
                        <button type="button" onclick="window.location.href='{{ url_for('admin_bp.book_edit_view', id=category.id) }}';" class="inline-flex items-center rounded border border-transparent bg-blue-1 px-2.5 py-1.5 text-xs font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">ویرایش</button>
                        <button type="button" onclick="window.location.href='#';" class="inline-flex items-center rounded border border-transparent bg-error px-2.5 py-1.5 text-xs font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">حذف</button>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
    <div class="-mt-px flex w-0 flex-1">
      <a href="?page={{ pagination.page - 1 }}" class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 {% if not pagination.has_prev %}hidden{% endif %}">
        <svg class="ml-3 h-5 w-5 text-gray-400 rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
        </svg>
        قبلی
      </a>
    </div>
    <div class="hidden md:-mt-px md:flex">
        {% for page in pagination.pages %}
            {% if page == pagination.page %}
                <a href="?page={{ page }}" class="inline-flex items-center border-t-2 border-indigo-500 px-4 pt-4 text-sm font-medium text-indigo-600" aria-current="page">{{ page }}</a>
            {% else %}
                {% if page %}
                <a href="?page={{ page }}" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">{{ page }}</a>
                {% else %}
                <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500">...</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="-mt-px flex w-0 flex-1 justify-end">
      <a href="?page={{ pagination.page + 1 }}" class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 {% if not pagination.has_next %}hidden{% endif %}">
        بعدی
        <!-- Heroicon name: mini/arrow-long-right -->
        <svg class="mr-3 h-5 w-5 text-gray-400 rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </nav>
  

{% endblock %}