{% extends 'base/dashboard/base.html' %}

{% block title %}کتابچ - کتابخانه{% endblock %}

{% block content %}
<section class="flex flex-col w-full pt-6 m:pt-16 flex w-full max-w-[80rem] mx-auto m:px-12">
{% with last_reads = last_reads %}
{% include 'components/horizontal_lists/continue_reading_list.html' %}
{% endwith %}
{% with referer='کتابخانه', title='شروع و نشان شده‌ها', items=bookmarked %}
{% include 'components/horizontal_lists/book_icon_horizontal_list.html' %}
{% endwith %}
{% with referer='کتابخانه', title='تمام شده‌ها', items=finished %}
{% include 'components/horizontal_lists/book_icon_horizontal_list.html' %}
{% endwith %}
</section>
{% endblock %}