<div class="w-screen m:w-[38rem] p-4 border-2 border-lightest-grey rounded-b bg-white absolute top-18 left-0 m:left-auto right-4 z-30 result-parent">
    <div class="flex flex-col divide-y divide-lightest-grey results">
        <a href="/book/%D8%B4%D8%AF%D9%86" aria-label="شدن" class="flex rounded font-cera-pro p-4 flex-row w-full px-2 lg:hover:bg-pale-mint-grey hover:cursor-pointer" is-premium-user="true">
            <img src="https://images.blinkist.io/images/books/5bf79abb6cee070007caaf8b/1_1/470.jpg" alt="شدن" loading="lazy" class="object-contain flex-shrink-0 rounded w-20 h-20">
            <div class="w-full flex flex-col relative ml-4">
                <div class="text-midnight line-clamp-2 font-bold text-h5" data-test-id="title" title="شدن">
                    شدن
                </div>
                <div data-test-id="subtitle" title="میشل اوباما" class="text-mid-grey text-caption line-clamp-2 mt-1">
                    میشل اوباما
                </div>
                <!---->
                <div class="text-mid-grey text-caption mt-2">
                    <div class="flex gap-x-2">
                        <div class="flex gap-x-1 items-center">
                            <div class="rounded p-1 bg-green-8">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h14.5v10.5H13v-9H1.5v16h7V19H0V0z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 6h-8V4.5h8V6zM11.25 9h-8V7.5h8V9zM7.25 12h-4v-1.5h4V12zM19 22.5h1.51c1.2 0 1.99-.884 1.99-1.75S21.71 19 20.51 19H19v3.5zm1.51 1.5c1.925 0 3.49-1.457 3.49-3.25s-1.565-3.25-3.49-3.25H17.5V24h3.01zM9 19H7.49c-1.2 0-1.99.884-1.99 1.75s.79 1.75 1.99 1.75H9V19zm-1.51-1.5C5.566 17.5 4 18.957 4 20.75S5.565 24 7.49 24h3.01v-6.5H7.49z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.75 15.466c0-3.382 2.903-5.716 6.25-5.716s6.25 2.334 6.25 5.716V18h-1.5v-2.534c0-2.384-2.051-4.216-4.75-4.216s-4.75 1.832-4.75 4.216V18h-1.5v-2.534z" fill="currentColor"></path>
                                </svg>
                            </div>
                            36 دقیقه
                        </div>
                        <div class="flex items-center gap-x-1">
                            <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.31 9.262l-6.198.947 4.49 4.602-1.04 6.382L12 18.186l5.439 3.007-1.041-6.382 4.49-4.602-6.198-.947L12 3.53 9.31 9.262zM8.292 7.9L0 9.167l6 6.15L4.584 24 12 19.9l7.417 4.1L18 15.317l6-6.15L15.708 7.9 12 0 8.292 7.9z"></path>
                            </svg>
                            5
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/book/%D8%AF%D8%B1-%D9%85%D9%88%D8%B1%D8%AF-%D8%A8%D9%88%D8%AF%D9%86-%D9%88-%D8%B4%D8%AF%D9%86" aria-label="در مورد بودن و شدن" class="flex rounded font-cera-pro p-4 flex-row w-full px-2 lg:hover:bg-pale-mint-grey hover:cursor-pointer" is-premium-user="true">
            <img src="https://images.blinkist.io/images/books/60d30aa56cee070007bee54b/1_1/470.jpg" alt="در مورد بودن و شدن" loading="lazy" class="object-contain flex-shrink-0 rounded w-20 h-20">
            <div class="w-full flex flex-col relative ml-4">
                <div class="text-midnight line-clamp-2 font-bold text-h5" data-test-id="title" title="در مورد بودن و شدن">
                    در مورد بودن و شدن
                </div>
                <div data-test-id="subtitle" title="جنیفر آنا گوستی-فرنسی" class="text-mid-grey text-caption line-clamp-2 mt-1">
                    جنیفر آنا گوستی-فرنسی
                </div>
                <!---->
                <div class="text-mid-grey text-caption mt-2">
                    <div class="flex gap-x-2">
                        <div class="flex gap-x-1 items-center">
                            <div class="rounded p-1 bg-green-8">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h14.5v10.5H13v-9H1.5v16h7V19H0V0z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 6h-8V4.5h8V6zM11.25 9h-8V7.5h8V9zM7.25 12h-4v-1.5h4V12zM19 22.5h1.51c1.2 0 1.99-.884 1.99-1.75S21.71 19 20.51 19H19v3.5zm1.51 1.5c1.925 0 3.49-1.457 3.49-3.25s-1.565-3.25-3.49-3.25H17.5V24h3.01zM9 19H7.49c-1.2 0-1.99.884-1.99 1.75s.79 1.75 1.99 1.75H9V19zm-1.51-1.5C5.566 17.5 4 18.957 4 20.75S5.565 24 7.49 24h3.01v-6.5H7.49z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.75 15.466c0-3.382 2.903-5.716 6.25-5.716s6.25 2.334 6.25 5.716V18h-1.5v-2.534c0-2.384-2.051-4.216-4.75-4.216s-4.75 1.832-4.75 4.216V18h-1.5v-2.534z" fill="currentColor"></path>
                                </svg>
                            </div>
                            23 دقیقه
                        </div>
                        <div class="flex items-center gap-x-1">
                            <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.31 9.262l-6.198.947 4.49 4.602-1.04 6.382L12 18.186l5.439 3.007-1.041-6.382 4.49-4.602-6.198-.947L12 3.53 9.31 9.262zM8.292 7.9L0 9.167l6 6.15L4.584 24 12 19.9l7.417 4.1L18 15.317l6-6.15L15.708 7.9 12 0 8.292 7.9z"></path>
                            </svg>
                            5
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/book/%D8%AA%D8%A8%D8%AF%DB%8C%D9%84-%D8%B4%D8%AF%D9%86-%D8%A8%D9%87-%D8%A7%D8%B3%D8%AA%DB%8C%D9%88-%D8%AC%D8%A7%D8%A8%D8%B2" aria-label="تبدیل شدن به استیو جابز" class="flex rounded font-cera-pro p-4 flex-row w-full px-2 lg:hover:bg-pale-mint-grey hover:cursor-pointer" is-premium-user="true">
            <img src="https://images.blinkist.io/images/books/5a00e6d6b238e100067eaf65/1_1/470.jpg" alt="تبدیل شدن به استیو جابز" loading="lazy" class="object-contain flex-shrink-0 rounded w-20 h-20">
            <div class="w-full flex flex-col relative ml-4">
                <div class="text-midnight line-clamp-2 font-bold text-h5" data-test-id="title" title="تبدیل شدن به استیو جابز">
                    تبدیل شدن به استیو جابز
                </div>
                <div data-test-id="subtitle" title="برنت شلندر و ریک تتزلی" class="text-mid-grey text-caption line-clamp-2 mt-1">
                    برنت شلندر و ریک تتزلی
                </div>
                <!---->
                <div class="text-mid-grey text-caption mt-2">
                    <div class="flex gap-x-2">
                        <div class="flex gap-x-1 items-center">
                            <div class="rounded p-1 bg-green-8">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h14.5v10.5H13v-9H1.5v16h7V19H0V0z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 6h-8V4.5h8V6zM11.25 9h-8V7.5h8V9zM7.25 12h-4v-1.5h4V12zM19 22.5h1.51c1.2 0 1.99-.884 1.99-1.75S21.71 19 20.51 19H19v3.5zm1.51 1.5c1.925 0 3.49-1.457 3.49-3.25s-1.565-3.25-3.49-3.25H17.5V24h3.01zM9 19H7.49c-1.2 0-1.99.884-1.99 1.75s.79 1.75 1.99 1.75H9V19zm-1.51-1.5C5.566 17.5 4 18.957 4 20.75S5.565 24 7.49 24h3.01v-6.5H7.49z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.75 15.466c0-3.382 2.903-5.716 6.25-5.716s6.25 2.334 6.25 5.716V18h-1.5v-2.534c0-2.384-2.051-4.216-4.75-4.216s-4.75 1.832-4.75 4.216V18h-1.5v-2.534z" fill="currentColor"></path>
                                </svg>
                            </div>
                            25 دقیقه
                        </div>
                        <div class="flex items-center gap-x-1">
                            <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.31 9.262l-6.198.947 4.49 4.602-1.04 6.382L12 18.186l5.439 3.007-1.041-6.382 4.49-4.602-6.198-.947L12 3.53 9.31 9.262zM8.292 7.9L0 9.167l6 6.15L4.584 24 12 19.9l7.417 4.1L18 15.317l6-6.15L15.708 7.9 12 0 8.292 7.9z"></path>
                            </svg>
                            4
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/book/%D8%A8%D9%88%D9%88%D8%A7%D8%B1-%D8%B4%D8%AF%D9%86" aria-label="بووار شدن" class="flex rounded font-cera-pro p-4 flex-row w-full px-2 lg:hover:bg-pale-mint-grey hover:cursor-pointer" is-premium-user="true">
            <img src="https://images.blinkist.io/images/books/5f5fde966cee0700064ebcf4/1_1/470.jpg" alt="بووار شدن" loading="lazy" class="object-contain flex-shrink-0 rounded w-20 h-20">
            <div class="w-full flex flex-col relative ml-4">
                <div class="text-midnight line-clamp-2 font-bold text-h5" data-test-id="title" title="بووار شدن">
                    بووار شدن
                </div>
                <div data-test-id="subtitle" title="کیت کرک پاتریک" class="text-mid-grey text-caption line-clamp-2 mt-1">
                    کیت کرک پاتریک
                </div>
                <!---->
                <div class="text-mid-grey text-caption mt-2">
                    <div class="flex gap-x-2">
                        <div class="flex gap-x-1 items-center">
                            <div class="rounded p-1 bg-green-8">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h14.5v10.5H13v-9H1.5v16h7V19H0V0z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 6h-8V4.5h8V6zM11.25 9h-8V7.5h8V9zM7.25 12h-4v-1.5h4V12zM19 22.5h1.51c1.2 0 1.99-.884 1.99-1.75S21.71 19 20.51 19H19v3.5zm1.51 1.5c1.925 0 3.49-1.457 3.49-3.25s-1.565-3.25-3.49-3.25H17.5V24h3.01zM9 19H7.49c-1.2 0-1.99.884-1.99 1.75s.79 1.75 1.99 1.75H9V19zm-1.51-1.5C5.566 17.5 4 18.957 4 20.75S5.565 24 7.49 24h3.01v-6.5H7.49z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.75 15.466c0-3.382 2.903-5.716 6.25-5.716s6.25 2.334 6.25 5.716V18h-1.5v-2.534c0-2.384-2.051-4.216-4.75-4.216s-4.75 1.832-4.75 4.216V18h-1.5v-2.534z" fill="currentColor"></path>
                                </svg>
                            </div>
                            24 دقیقه
                        </div>
                        <div class="flex items-center gap-x-1">
                            <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.31 9.262l-6.198.947 4.49 4.602-1.04 6.382L12 18.186l5.439 3.007-1.041-6.382 4.49-4.602-6.198-.947L12 3.53 9.31 9.262zM8.292 7.9L0 9.167l6 6.15L4.584 24 12 19.9l7.417 4.1L18 15.317l6-6.15L15.708 7.9 12 0 8.292 7.9z"></path>
                            </svg>
                            4
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="pt-4">
            <a href="/dashboard/explore/search?q=" class="text-blue text-sm">
                مشاهده تمام نتایج
            </a>
        </div>
    </div>
</div>