{% extends 'base/base.html' %}

{% block title %}کتابچ{% endblock %}

{% block content %}

<!-- Banner -->
<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		<div class="h-12 bg-pale-mint-grey">
			<span>First Banner</span>
		</div>
	</div>
</div>

<!-- Carousel -->
<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		<div class="h-80 bg-pale-mint-grey">
			<span>Carousel</span>
		</div>
	</div>
</div>

<!-- Categories List -->
<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		<div class="mb-12 m:mb-16">
			<div class="mb-6 mx-4">
				<h3 class="text-midnight mb-2 font-bold text-h35">
					دسته‌بندی‌ها
				</h3>

				<p class="text-p1 text-dark-grey">
					در ۲۲ دسته‌بندی کاوش کنید
				</p>
			</div>

			<div class="m:hidden">
				<div class="w-full overflow-hidden">
					<div class="pb-8 -mb-8 overflow-x-auto overflow-y-hidden flex">
						<div class="flex flex-row min-w-[92rem] gap-4 flex-wrap justify-center mx-4">
							{% for category in categories %}
							<a data-test-id="b-chip" href="/category/{{ category.slug }}" class="text-midnight flex w-max items-center py-3 border-2 border-solid rounded px-4 cursor-pointer m:hover:border-green border-white bg-pale-mint-grey">
								<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class=" w-6 h-6 ml-2 text-midnight flex-shrink-0">
									{{ category.icon|safe }}
								</svg>
								<span class="block whitespace-nowrap">{{ category.name }}</span>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="hidden m:flex">
				<div class="flex flex-row gap-4 flex-wrap justify-center mx-4">
					{% for category in categories %}
					<a data-test-id="b-chip" href="/category/{{ category.slug }}" class="text-midnight flex w-max items-center py-3 border-2 border-solid rounded px-4 cursor-pointer m:hover:border-green border-white bg-pale-mint-grey">
						<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class=" w-6 h-6 ml-2 text-midnight flex-shrink-0">
							{{ category.icon|safe }}
						</svg>
						<span class="block whitespace-nowrap">{{ category.name }}</span>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Vertical List View -->
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		{% with title='latest', items=latest %}
		{% include 'components/horizontal_lists/book_horizontal_list.html' %}
		{% endwith %}
	</div>
</div>

<!-- Top Four Items View -->
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		<div class="mx-4 mb-12 m:mb-16">
			<div class="text-midnight mb-6 font-bold text-h35">
				۴ عنوان داغ امروز
			</div>

			<div class="mt-5 col-span-5">
				<div class="grid grid-cols-6 gap-6 mt-5">
					{% for item in top_four_for_today %}
					<div class="col-span-6 sm:col-span-3">
						<a href="/book/{{ item.slug }}" class="bg-background-yellow rounded p-4 m:px-4 m:py-4 block">
							<div class="flex flex-col m:flex-row gap-4 h-full">

								<div class="m:basis-1/2 shrink-0 flex flex-row gap-4 m:p-4">
									<img src="{{ item.cover_image }}" alt="{{ item.title }}" loading="lazy" class="object-contain flex-shrink-0 rounded w-32 h-32 m:w-32 m:h-32">

									<div>
										<div class="text-midnight mb-1 font-bold text-h5 line-clamp-1 truncate">
											{{ item.title}}
										</div>

										<div class="text-dark-grey mb-4 font-medium text-sm line-clamp-3 h-10">
											{{ item.authors[0].name }}
										</div>

										<div class="flex flex-row gap-2 items-center">
											<svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10">
												<g clip-path="url(#play_filled_white)">
													<path d="M20 0C8.956 0 0 8.956 0 20s8.956 20 20 20 20-8.956 20-20S31.044 0 20 0zm9.272 20.961l-3.247 1.875-3.247 1.875-6.495 3.75a1.11 1.11 0 01-1.666-.961v-15a1.11 1.11 0 011.666-.961l3.248 1.875 3.247 1.875 6.494 3.75a1.11 1.11 0 010 1.922z" fill="currentColor"></path>
													<path d="M16.283 28.461l6.495-3.75 3.247-1.875 3.247-1.875a1.11 1.11 0 000-1.922l-6.494-3.75-3.247-1.875-3.248-1.875a1.11 1.11 0 00-1.666.961v15a1.11 1.11 0 001.666.961z" fill="#fff"></path>
												</g>
												<defs>
													<clipPath id="play_filled_white">
														<path fill="#fff" d="M0 0h40v40H0z"></path>
													</clipPath>
												</defs>
											</svg>

											<div class="text-midnight font-bold text-xs">
												{{ item.read_time }} دقیقه
											</div>
										</div>
									</div>
								</div>

								<div class="border-l border-light-grey"></div>

								<div class="font-tisa-pro text-midnight text-p1 m:p-4 m:basis-2/5 shrink-0">
									{{ item.tagline }}
								</div>

							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Vertical List View -->
<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		{% with title='latest', items=latest %}
		{% include 'components/horizontal_lists/book_horizontal_list.html' %}
		{% endwith %}
	</div>
</div>

<!-- Middle Banner -->
<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		<div class="h-80 bg-pale-mint-grey">
			<span>Middle Banner</span>
		</div>
	</div>
</div>

<!-- Vertical List View -->
<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		{% with title='latest', items=latest %}
		{% include 'components/horizontal_lists/book_horizontal_list.html' %}
		{% endwith %}
	</div>
</div>

<!-- Vertical List View -->
<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		{% with title='latest', items=latest %}
		{% include 'components/horizontal_lists/book_horizontal_list.html' %}
		{% endwith %}
	</div>
</div>

<!-- End Banner -->
<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="w-full">
		<div class="h-12 bg-pale-mint-grey">
			<span>Last Banner</span>
		</div>
	</div>
</div>

<!-- FAQ -->
<div class="bg-white mb-16">
	<div class="mx-auto my-4 max-w-7xl px-4 sm:px-6 lg:px-8">
		<div class="mx-auto divide-y divide-gray-900/10">
			<h2 class="text-m font-bold leading-10 tracking-tight text-dark-grey">سوالات متداول</h2>
			<dl class="mt-10 space-y-6 divide-y divide-gray-900/10">

				<div class="pt-6">
					<dt>
						<button type="button" class="flex w-full items-start justify-between text-left text-dark-grey faq" aria-controls="faq-0" aria-expanded="false">
							<span class="text-sm font-semibold leading-7">سوال اول؟</span>
							<span class="ml-6 flex h-7 items-center">

								<svg class="h-6 w-6 plus" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
								</svg>

								<svg class="hidden h-6 w-6 minus" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
								</svg>

							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12 answer" id="faq-0">
						<p class="text-xs leading-7 text-mid-grey">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
						</p>
					</dd>
				</div>

				<div class="pt-6">
					<dt>
						<button type="button" class="flex w-full items-start justify-between text-left text-dark-grey faq" aria-controls="faq-0" aria-expanded="false">
							<span class="text-sm font-semibold leading-7">سوال دوم؟</span>
							<span class="ml-6 flex h-7 items-center">

								<svg class="hidden h-6 w-6 plus" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
								</svg>

								<svg class="h-6 w-6 minus" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
								</svg>

							</span>
						</button>
					</dt>
					<dd class="hidden mt-2 pr-12 answer" id="faq-0">
						<p class="text-xs leading-7 text-mid-grey">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
						</p>
					</dd>
				</div>

			</dl>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {

		let debauced;

		$('.faq').click(function (e) {
			e.preventDefault();
			var faq = $(this).parent().parent().find('.answer');
			var plus = $(this).parent().parent().find('.plus');
			var minus = $(this).parent().parent().find('.minus');
			if (faq.hasClass('hidden')) {
				faq.removeClass('hidden');
				plus.removeClass('hidden');
				minus.addClass('hidden');
				faq.fadeIn(200);
			} else {
				faq.fadeOut(200);
				faq.addClass('hidden');
				plus.addClass('hidden');
				minus.removeClass('hidden');
			}
		});

		$('.category').click(function (e) {
			e.preventDefault();
			var categories = $('.categories');
			if (categories.is(':visible')) {
				categories.fadeOut(50);
			} else {
				categories.fadeIn(50);
			}
		});

		$('.desktop-search-input').on('keydown', function (e) {
			clearTimeout(debauced)
			debauced = setTimeout(search, 300)
		});

		$('.desktop-search-input').focus(function () {
			if ($('.desktop-search-input').val().length > 2) {
				search()
			}
		});

		$('.desktop-search-input').blur(function () {
		        debauced = setTimeout(function () {
		            $('.result-parent').addClass("hidden");
		        }, 200)
		});

		function search() {
			const query = $('.desktop-search-input').val();
			if (query.length > 2) {
				fetch('/api/search?q=' + query)
					.then(response => response.json())
					.then(data => {
						if (data.length > 0) {
							$('.results').empty()
							$('.result-parent').removeClass("hidden");
							for (let i = 0; i < data.length; i++) {
								$('.results').append(`
                                <a href="${data[i]['url']}" aria-label="${data[i]['title']}" class="flex rounded font-cera-pro p-4 flex-row w-full px-2 lg:hover:bg-pale-mint-grey hover:cursor-pointer" is-premium-user="true">
                                    <img src="${data[i]['image']}" alt="${data[i]['title']}" loading="lazy" class="object-contain flex-shrink-0 rounded w-20 h-20">
                                    <div class="w-full flex flex-col relative ml-4">
                                        <div class="text-midnight line-clamp-2 font-bold text-h5" data-test-id="title" title="${data[i]['title']}">
                                            ${data[i]['title']}
                                        </div>
                                        <div data-test-id="subtitle" title="${data[i]['author']}" class="text-mid-grey text-caption line-clamp-2 mt-1">
                                            ${data[i]['author']}
                                        </div>
                                        <!---->
                                        <div class="text-mid-grey text-caption mt-2">
                                            <div class="flex gap-x-2">
                                                <div class="flex gap-x-1 items-center">
                                                    <div class="rounded p-1 bg-green-8">
                                                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h14.5v10.5H13v-9H1.5v16h7V19H0V0z" fill="currentColor"></path>
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 6h-8V4.5h8V6zM11.25 9h-8V7.5h8V9zM7.25 12h-4v-1.5h4V12zM19 22.5h1.51c1.2 0 1.99-.884 1.99-1.75S21.71 19 20.51 19H19v3.5zm1.51 1.5c1.925 0 3.49-1.457 3.49-3.25s-1.565-3.25-3.49-3.25H17.5V24h3.01zM9 19H7.49c-1.2 0-1.99.884-1.99 1.75s.79 1.75 1.99 1.75H9V19zm-1.51-1.5C5.566 17.5 4 18.957 4 20.75S5.565 24 7.49 24h3.01v-6.5H7.49z" fill="currentColor"></path>
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.75 15.466c0-3.382 2.903-5.716 6.25-5.716s6.25 2.334 6.25 5.716V18h-1.5v-2.534c0-2.384-2.051-4.216-4.75-4.216s-4.75 1.832-4.75 4.216V18h-1.5v-2.534z" fill="currentColor"></path>
                                                        </svg>
                                                    </div>
                                                    ${data[i]['read_time']} دقیقه
                                                </div>
                                                <div class="flex items-center gap-x-1">
                                                    <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.31 9.262l-6.198.947 4.49 4.602-1.04 6.382L12 18.186l5.439 3.007-1.041-6.382 4.49-4.602-6.198-.947L12 3.53 9.31 9.262zM8.292 7.9L0 9.167l6 6.15L4.584 24 12 19.9l7.417 4.1L18 15.317l6-6.15L15.708 7.9 12 0 8.292 7.9z"></path>
                                                    </svg>
                                                    ${data[i]['rating']}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>`)
							}
							$('.results').append(`
                            <div class="pt-4">
                                <a href="/dashboard/search?q=${query}" class="text-blue text-sm">
                                    مشاهده تمام نتایج
                                </a>
                            </div>`)
						} else {
							$('.results').empty()
							$('.result-parent').addClass("hidden");
						}
					})
			} else {
				$('.results').empty()
				$('.result-parent').addClass("hidden");
			}
		}

	});

	$(document).mouseup(function (e) {
		var container = $(".categories");
		var category = $(".category");
		if (!container.is(e.target) && container.has(e.target).length === 0 && !category.is(e.target) && category.has(e.target).length === 0) {
			container.fadeOut(50);
		}
	});

</script>

{% endblock %}