<div class="rounded bg-pale-mint-grey">
    <a href="/book/{{ item.slug }}" class="block flex flex-row p-4 gap-8">
        <img src="{{ item.cover_image }}" alt="{{ item.title }}" loading="lazy" class="object-contain flex-shrink-0 rounded w-20 h-20 m:w-32 m:h-32">

        <div class="flex flex-col justify-between grow">
            <div>
                <div class="text-midnight mb-1 font-bold text-h5">
                    {{ item.title }}
                </div>

                <div class="text-mid-grey mb-4 font-medium text-sm">
                    {% for author in item.authors %}
                        {{ author.name }} 
                    {% endfor %}
                </div>
            </div>

            <div class="flex flex-row gap-6 items-center">

                <div dir="ltr" class="grow bg-light-grey w-full h-1 rounded">
                    <div class="h-1 bg-blue rounded-l" style="width: 9.090909%;"></div>
                </div>

                <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10">
                    <path clip-rule="evenodd" d="M10 0C4.5 0 0 4.5 0 10s4.5 10 10 10 10-4.5 10-10S15.5 0 10 0zm4.3 10.2l-5.5 3.5c-.6.4-1.1.1-1.1-.6V6c0-.7.5-1 1.1-.6l5.5 3.5c.6.4.6 1 0 1.3z" fill="currentColor" fill-rule="evenodd"></path>
                </svg>

            </div>
        </div>
    </a>
</div>