<a href="/book/{{ item[0].slug }}" class="bg-background-yellow rounded p-6 m:px-8 m:py-4 block lg:w-2/3">
    <div class="flex flex-col m:flex-row gap-4">

      <div class="m:basis-1/2 shrink-0 flex flex-row gap-4 m:p-4">
        <img src="{{ item[0].cover_image }}" alt="{{ item[0].title }}" loading="lazy" class="object-contain flex-shrink-0 rounded w-32 h-32 m:w-32 m:h-32">

        <div>
          <div class="text-midnight mb-1 font-bold text-h5">
            {{ item[0].title}}
          </div>

          <div class="text-dark-grey mb-4 font-medium text-sm">
            {{ item[0].authors[0].name }}
          </div>

          <div class="flex flex-row gap-2 items-center">
            <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10">
              <g clip-path="url(#play_filled_white)">
                <path d="M20 0C8.956 0 0 8.956 0 20s8.956 20 20 20 20-8.956 20-20S31.044 0 20 0zm9.272 20.961l-3.247 1.875-3.247 1.875-6.495 3.75a1.11 1.11 0 01-1.666-.961v-15a1.11 1.11 0 011.666-.961l3.248 1.875 3.247 1.875 6.494 3.75a1.11 1.11 0 010 1.922z" fill="currentColor"></path>
                <path d="M16.283 28.461l6.495-3.75 3.247-1.875 3.247-1.875a1.11 1.11 0 000-1.922l-6.494-3.75-3.247-1.875-3.248-1.875a1.11 1.11 0 00-1.666.961v15a1.11 1.11 0 001.666.961z" fill="#fff"></path>
              </g>
              <defs>
                <clipPath id="play_filled_white">
                  <path fill="#fff" d="M0 0h40v40H0z"></path>
                </clipPath>
              </defs>
            </svg>

            <div class="text-midnight font-bold text-h6">
              {{ item[0].read_time }} دقیقه
            </div>
          </div>
        </div>
      </div>

      <div class="border-l border-light-grey"></div>

      <div class="font-tisa-pro text-midnight text-p1 m:p-4 m:basis-2/5 shrink-0">
        {{ item[0].tagline }}
      </div>

    </div>
  </a>