<div class="flex flex-row gap-4">
                        
    <!-- Right arrow -->
    <a class="w-8 h-8 flex items-center justify-center text-light-grey">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="-rotate-90 w-4 h-4">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.879l-7.94-7.94a1.5 1.5 0 10-2.12 2.122l9 9a1.5 1.5 0 002.12 0l9-9a1.5 1.5 0 00-2.12-2.122L12 14.88z" fill="currentColor"></path>
            <mask id="a" maskUnits="userSpaceOnUse" x="1" y="6" width="22" height="13">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.879l-7.94-7.94a1.5 1.5 0 10-2.12 2.122l9 9a1.5 1.5 0 002.12 0l9-9a1.5 1.5 0 00-2.12-2.122L12 14.88z" fill="#fff"></path>
            </mask>
        </svg>
    </a>

    <span class="flex flex-row gap-4">
        <!-- Desktop -->
        <span class="hidden m:inline">
            <a class="text-base font-medium rounded w-8 h-8 flex items-center justify-center text-white bg-midnight">
                ۱
            </a>
        </span>

        <span class="hidden m:inline">
            <a href="#" class="text-base font-medium rounded w-8 h-8 flex items-center justify-center text-midnight hover:bg-pale-mint-grey">
                ۲
            </a>
        </span>

        <span class="hidden m:inline">
            <a href="#" class="text-base font-medium rounded w-8 h-8 flex items-center justify-center text-midnight hover:bg-pale-mint-grey">
                ۳
            </a>
        </span>

        <!-- Mobile -->
        <span class="inline m:hidden">
            <a class="text-base font-medium rounded w-8 h-8 flex items-center justify-center text-white bg-midnight">
                ۱
            </a>
        </span>

        <span class="inline m:hidden">
            <a href="#" class="text-base font-medium rounded w-8 h-8 flex items-center justify-center text-midnight hover:bg-pale-mint-grey">
                ۲
            </a>
        </span>

        <span class="inline m:hidden">
            <a href="#" class="text-base font-medium rounded w-8 h-8 flex items-center justify-center text-midnight hover:bg-pale-mint-grey">
                ۳
            </a>
        </span>

    </span>
    
    <!-- Left arrow -->
    <a href="#" class="w-8 h-8 flex items-center justify-center">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotate-90 w-4 h-4">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.879l-7.94-7.94a1.5 1.5 0 10-2.12 2.122l9 9a1.5 1.5 0 002.12 0l9-9a1.5 1.5 0 00-2.12-2.122L12 14.88z" fill="currentColor"></path>
            <mask id="a" maskUnits="userSpaceOnUse" x="1" y="6" width="22" height="13">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.879l-7.94-7.94a1.5 1.5 0 10-2.12 2.122l9 9a1.5 1.5 0 002.12 0l9-9a1.5 1.5 0 00-2.12-2.122L12 14.88z" fill="#fff"></path>
            </mask>
        </svg>
    </a>

</div>