<div class="absolute top-8 right-0 bg-white border border-lightest-grey w-fit right-0">
    <a href="#" class="flex text-midnight items-center gap-2 px-4 py-2 w-fit">
        <svg viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5">
            <path fill="#fff" d="M0 0h19.5v23.65H0z"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.78 13.5H6.63V12h8.15v1.5zM14.78 18.3H6.63v-1.5h8.15v1.5z" fill="currentColor"></path>
            <path d="M15.53 4.07v-.71h-1.67A4.112 4.112 0 009.82 0C7.81 0 6.13 1.45 5.78 3.36H3.97v.71H0v19.58h19.5V4.07h-3.97zm-10.06.79h1.74v-.75c0-1.44 1.17-2.61 2.61-2.61s2.61 1.17 2.61 2.61v.75h1.6v1.63H5.47V4.86zM18 22.15H1.5V5.57h2.47V8h11.56V5.57H18v16.58z" fill="currentColor"></path>
            <path d="M9.75 2.96c-.45 0-.82.37-.82.82 0 .45.37.82.82.82.45 0 .82-.37.82-.82 0-.45-.37-.82-.82-.82z" fill="currentColor"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.57 13.5H4.53V12h1.04v1.5zM5.57 18.3H4.53v-1.5h1.04v1.5z" fill="currentColor"></path>
        </svg>
        <span class="whitespace-nowrap">
            جزئیات کتاب
        </span>
    </a>
    <button class="flex text-raspberry items-center gap-2 px-4 py-2 w-fit">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.2c5.633 0 10.2-4.567 10.2-10.2 0-5.633-4.567-10.2-10.2-10.2C6.367 1.8 1.8 6.367 1.8 12c0 5.633 4.567 10.2 10.2 10.2zm0 1.8c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12z" fill="currentColor"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.2 11.1v1.8h9.6v-1.8H7.2z" fill="currentColor"></path>
        </svg>
        <span class="whitespace-nowrap">
            حذف
        </span>
    </button>
</div>