<!DOCTYPE html>
<html class="h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ketabch</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quill.snow.css') }}" />

    <style>
    body > #standalone-container {
        margin: 50px auto;
        max-width: 720px;
    }
    #editor-container {
        height: 350px;
    }
    </style>
    
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
</head>

<body class="h-full">
    <div class="min-h-full">
        <nav class="bg-light-pale-mint-grey">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-8" src="{{ url_for('static', filename='images/logo.png') }}" alt="Your Company">
                        </div>
                        <div class="hidden md:block">
                            <div class="mr-10 flex items-baseline space-x-4 text-midnight">
                                <a href="{{ url_for('admin_bp.dashboard_view') }}" class="border-green text-blue border-b-4 px-3 py-2 text-sm font-medium ml-4" aria-current="page">داشبورد</a>

                                <a href="{{ url_for('admin_bp.books_view') }}" class="border-green hover:text-blue hover:border-b-4 px-3 py-2 text-sm font-medium">کتاب</a>

                                <a href="{{ url_for('admin_bp.category_view') }}" class="border-green hover:text-blue hover:border-b-4 px-3 py-2 text-sm font-medium">دسته‌بندی</a>

                                <a href="{{ url_for('admin_bp.author_view') }}" class="border-green hover:text-blue hover:border-b-4 px-3 py-2 text-sm font-medium">نویسنده‌ها</a>

                                <a href="{{ url_for('admin_bp.report_view') }}" class="border-green hover:text-blue hover:border-b-4 px-3 py-2 text-sm font-medium">گزارشات</a>
                            </div>
                        </div>
                    </div>

                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <button type="button" class="inline-flex items-center justify-center rounded-md bg-indigo-600 p-2 text-indigo-200 hover:bg-indigo-500 hover:bg-opacity-75 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-600" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <!--
                                Heroicon name: outline/bars-3
                
                                Menu open: "hidden", Menu closed: "block"
                            -->
                            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <!--
                                Heroicon name: outline/x-mark
                
                                Menu open: "block", Menu closed: "hidden"
                            -->
                            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="md:hidden" id="mobile-menu">
                <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
                    <!-- Current: "bg-indigo-700 text-white", Default: "text-white hover:bg-indigo-500 hover:bg-opacity-75" -->
                    <a href="#" class="bg-indigo-700 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>

                    <a href="#" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium">Team</a>

                    <a href="#" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium">Projects</a>

                    <a href="#" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium">Calendar</a>

                    <a href="#" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium">Reports</a>
                </div>
            </div>
        </nav>

        <header class="bg-white shadow-sm">
            {% block header %}
            <div class="mx-auto max-w-7xl py-4 px-4 sm:px-6 lg:px-8">
                <h1 class="text-lg font-semibold leading-6 text-gray-900">داشبورد</h1>
            </div>
            {% endblock %}
        </header>
        <main>
            <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                {% block content %}
                {% endblock %}
                <!-- /End replace -->
            </div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='js/quill.min.js') }}"></script>

    <script>
      var quill = new Quill('#editor-container', {
        modules: {
          formula: false,
          syntax: false,
          toolbar: '#toolbar-container'
        },
        theme: 'snow'
      });
    </script>
</body>

</html>